.detailsContainer {
  height: 100%;
  overflow: hidden;
}

.detailsHeader {
  display: flex;
}

.coin {
  flex-grow: 80;
  color: #ffffff;
  margin-left: 7px;
  margin-top: 10px;
}

.buySellButton {
  flex-grow: 20;
  color: #ffffff;
  margin-top: 12px;
}

.coin > span {
  font-size: 12px;
  color: #ffffff;
}

.coin > span > p {
  font-size: 10px;
  color: #00ff29;
}

.detailsTable {
  display: flex;
}

.detailsTableItems {
  flex-grow: 100;
}

.table {
  color: #fff;
  font-size: 12px;
  border: hidden;
}

.table > tbody > tr {
  border: hidden;
}

.table > tbody > tr > td {
  padding: 0 0 0 12px;
  padding-bottom: 20px;
}

.table > tbody > tr > td > div {
  font-size: 10px;
}

.table > tbody > tr > td > p {
  font-size: 10px;
  color: #ffffff;
}

.timeStyle {
  font-size: 12px;
}

.dateStyle {
  font-size: 10px;
}