.user {
    margin-right: 0;
    color: grey;
    height: 35px;
    padding-right: 0;
    z-index: 1;
}

.user h4 {
    color: #00FF29;
    margin-top: 6px;
    margin-left:calc(13vw);
    height: 35px;
}

.user h6 {
    margin-top: 7px;
    margin-left: calc(1vw);
    color: #ffffff;
}

.user h3 {
    margin-top: 4px;
    margin-left: calc(2vw);
}

.user > h3:hover {
    cursor: pointer;
}

.profile {
    position: absolute;
    margin-left: calc(33vw - 220px);
    margin-top: 35px;
    z-index: 2;
  }

  .displayFalse {
    display: none;
  }

  .displayTrue {
    display: block;
  }

