.watchlistHeader {
    color: #FFFFFF;
    margin-left: 12px;
    font-size: 15px;
}

.table {
    color: #fff;
    font-size: 12px;
    border: hidden;
    margin-left: 2px;
}

.table > thead {
    border: hidden;
}

.table > tbody > tr {
    border: hidden;
    height: 100%;
}

.table > tbody > tr > td {
    padding: 0 0 0 12px;
}

.watchlist {
    margin-top: 5px;
}

.dropdown {
    background-color : #353535 ;
    color: #fff; 
    margin-top: 12px;
}

.dropdown:focus {
    outline: none;
    box-shadow: none;
}

.dropdown > h6 {
    font-size: 12px;
    font-weight: bold;
    margin-left: 0;
}

.table > tbody > tr > td > div {
    font-size: 10px;
}

.table > tbody > tr > td > p {
    font-size: 10px;
    color: #00FF29;
}

.editWatchlist {
    margin-right: 6px;
    padding: 2px 5px 0px 5px;
    background-color: #2E2E2E;
    color: #FFFFFF;
}

.addWatchlist {
    margin-right: 6px;
    padding: 2px 5px 0px 5px;
    background-color: #2E2E2E;
    color: #FFFFFF;
}

.removeWatchlist {
    margin-right: 6px;
    padding: 2px 5px 0px 5px;
    background-color: #2E2E2E;
    color: #FFFFFF;
}

.editButtons {
    padding-left: calc((100vw - (100vw * 2 / 3)) / 2.8);
    padding-right: 0;
    margin-top: 15px;
}

.watchlistSize {
    height: 100%;
    padding: 0;
    overflow: hidden;
}

