.container {
    background-color: #1A1A1A;
    height: 100vh;
}

.box {
    padding: 6px;
    height: 100%;
    border-radius: 3px;
}

.color1 {
    background-color: #353535;
}

.color2 {
    background-color: #3D3D3D;
}

.header {
    height: 35px;
    padding: 0;
}

.headerContent {
    height: 100%;
}

.watchlist {
    height: calc(100vh - 35px - 30vh);
    padding: 12px 0 0 12px;
}

.details {
    height: calc(100vh - 35px - 30vh);
    padding: 12px 0 0 12px;
}

.orderbook {
    height: calc(100vh - 35px - 30vh);
    padding: 12px 12px 0 12px;
}

.overview {
    height: calc(30vh);
    padding: 12px 0 12px 12px;
}

.report {
    height: calc(30vh);
    padding: 12px 12px 12px 12px;
}

.headerContent > div, .headerContent > div > div > div {
    height: 35px;
}

