.container {
  background-color: #1a1a1a;
  height: 100vh;
}

.tabContainer {
  height: 35px;
  width: 100%;
  margin: 0;
  position: relative;
  background-color: #474747;
  border-radius: 3px;
}

.reportComponent {
  overflow: hidden;
  width: 100%;
}

.orders {
  width: 100%;
  height: calc(19vh);
  overflow-y: scroll;
  position: absolute;
}

.tabs {
  display: flex;
  list-style: none;
  color: #fff;
  padding-left: 0;
  margin-bottom: 0;
}

.tab {
  margin-left: 25px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  padding: 7px;
  font-size: 0.9rem;
}

.sideMenu {
  height: 100%;
  width: 12px;
  background-color: #494949;
  float: right;
  margin-right: 0;
  border-radius: 0 3px 3px 0;
  text-align: center;
  color: #8a8a8a;
  padding-top: calc((100vh -35px - 30vh) / 3.5);
}

.sideMenu:hover {
  background-color: #434343;
}

.box {
  padding: 6px;
  height: 100%;
  border-radius: 3px;
}

.box1 {
  padding: 6px;
  height: 100%;
  border-radius: 3px;
}

.box2 {
  padding: 0 0 0 6px;
  height: 100%;
  border-radius: 3px;
}

.color1 {
  background-color: #353535;
}

.color2 {
  background-color: #3d3d3d;
}

.header {
  height: 35px;
  padding: 0;
}

.headerContent {
  height: 100%;
}

.watchlist {
  height: calc(100vh - 35px - 30vh);
  padding: 12px 0 0 12px;
}

.details {
  height: calc(100vh - 35px - 30vh);
  padding: 12px 0 0 12px;
}

.orderbook {
  height: calc(100vh - 35px - 30vh);
  padding: 12px 12px 0 12px;
}

.overview {
  height: calc(30vh);
  padding: 12px 0 12px 12px;
}

.report {
  height: calc(30vh);
  padding: 12px 12px 12px 12px;
}

.headerContent > div,
.headerContent > div > div > div {
  height: 35px;
}
