.reportMenu {
  height: 35px;
  width: 100%;
  margin: 0;
  background-color: #474747;
  border-radius: 3px 3px 0 0;
}

.report {
    display: flex;
    list-style: none;
    color: #fff;
    padding-left: 0;
}

.report li {
    flex-direction: column;
    padding: 7px;
    font-size: 0.9rem;
}
