.reportComponent {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.reportMenu {
  height: 35px;
  width: 100%;
  margin: 0;
  background-color: #474747;
  border-radius: 3px 3px 0 0;
}

.report {
  display: flex;
  list-style: none;
  color: #fff;
  padding-left: 0;
}

.report li {
  flex-direction: column;
  padding: 7px;
  font-size: 0.9rem;
}

.reportContent {
  display: flex;
  justify-content: flex-start;
  overflow-y: scroll;
  height: 100%;
}

.table {
  flex-grow: 15;
}

.tableContent {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  border: hidden;
}

.tableContent > thead {
  border: hidden;
}

.tableContent > tbody > tr {
  border: hidden;
  height: 100%;
}

.tableContent > tbody > tr > td {
  padding: 0 0 0 12px;
  padding-bottom: 10px;
}

.tableContent > thead > tr > th > div {
  margin-left: 50px;
  margin-right: 50px;
}
