.containerStyles {
  height: 15px;
  width: 90%;
  background-color: rgb(160, 252, 222);
  border-radius: 15px;
  margin: 4px;
}

.fillerStyles {
  height: 100%;
  width: 80%;
  background-color: rgb(179, 97, 255);
  border-radius: inherit;
  text-align: right;
}

.labelStyles {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
}
